.home-page-layout {
	height: 100%;
}

.home-page-header {
	height: auto;
	padding: 0;
	line-height: auto;
	background: #fff;
}

.home-page-content {
	height: 20px;
	background: #fff;
}

.home-page-footer {
	border: 1px solid #eee;
	border-radius: 4px;
	height: auto;
	padding: 20px 0;
	line-height: auto;
	background: #fff;
}

.home-page-footer-row {
	text-align: center;
}

.home-page-footer-col {
	height: 280px;
}

.home-page-footer-col:not(:last-child) {
	border-right: 1px solid #eee;
}

.home-page-footer-title {
	width: 100%;
	font-size: 22px;
	font-weight: 500;
	color: #666;
	margin-top: 10px;
	margin-bottom: 8px
}

.home-page-footer-text {
	margin: 0 auto;
	width: 170px;
	font-size: 14px;
	font-weight: 500;
	color: #888;
	text-align: left;
}
