body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  padding: 20px 0 0 0;
}

/* a标签 */
.table-link,
.table-link:visited,
.table-link:active {
  color: #FF8C00;
  cursor: pointer;
}

.table-link:hover {
  color: #ca8845;
  cursor: pointer;
}

/* input */
.table-input {
  width: 300px;
}

.ant-input:hover {
  border-color: #FF8C00!important;
}

.ant-input:focus {
  border-color: #FF8C00!important;
  border-right-width: 1px!important;
  outline: 0!important;
  box-shadow: 0 0 0 2px rgba(255, 140, 0, 0.2)!important;
}

/* select */
.table-select {
  width: 300px!important;
}

/* select */
.ant-select-focused .ant-select-selection,
.ant-select-selection:hover,
.ant-select-selection:focus {
  border-color: #FF8C00 !important;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 140, 0, 0.2) !important;
}


.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected .ant-select-selected-icon,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover .ant-select-selected-icon {
  color: #FF8C00!important;
}

/* select 鼠标悬浮时背景 */
.ant-select-dropdown-menu-item:hover {
  background-color: rgba(255, 144, 0, 0.1);
}

.ant-select-dropdown-menu-item-active {
  background-color: rgba(255, 144, 0, 0.1);
}

/* tree select 鼠标悬浮时背景 */
.ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
  background-color: rgba(255, 144, 0, 0.1);
}
.ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: rgba(255, 144, 0, 0.1);
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled):hover {
  background-color: rgba(255, 144, 0, 0.1);
}

.ant-select-dropdown-menu-item-selected {
  background-color: rgba(255, 144, 0, 0.1);
}

.input-number-width {
  width: 100%;
}

.sider-menu-logo {
  background: #304156;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #24b4ce
}

.ant-layout-sider {
  background: #304156
}




/* 上传下载按钮 */
.upload-btn {
  background-color: #1d93a8!important;
  border-color: #1d93a8!important;
}

.download-link {
  color: #fff;
}
